@media screen
and (min-width: 800px)
and (max-width: 1065px) {
 
    .Intro {
        .Intro-end {
            .Container {
                h1 {
                    font-size: 2.2em;
                }

                p { font-size: 1.2em;
                }
            }
        }
    }

    .Stay-productive {
        .Productive-image {
            padding-top: 10%;
        }

        h1 {
            font-size: 2.2em;
        }
    }

    .Get-access {
        .Access-container {
            p {
                line-height: 20px;
            }
            .Mail-form {
                grid-template-columns: 55% 25%;
            }
            button {
                font-size: 0.7em;
                padding: 7% 5%;
            }
        }
        
        .Useless {
            padding-top: 26%;
        }
    }

    .Footer {
        padding: 12% 0% 5% 8%;

        .Logo-footer {
            img {
                width: 10%;
            }
        }
    
        .Footer-container {
            display: grid;
            grid-template-columns: 25% 20% 10% 10% 15%;
            column-gap: 3%;
            font-size: 0.8em;

            .Contact {
                padding-left: 15%;
            }

            .About, .Contact-us {

                p {
                    line-height: 30px;
                }
            }

            .Icons {
                display: grid;
                grid-template-columns: 35px 35px 35px;
                font-size: 170%;
            }
        }

        .Coded-by {
            margin-left: 2%;
        }
    }
}