@media screen
and (min-width: 320px)
and (max-width: 479px) {
 
    .Navigation {
        .Logo {
            max-width: 25%;
            padding-top: 1%;
        }
    }

    .Intro {
        .Illustration {
            max-width: 60%;
        }

        .Intro-end {
            h1 {
                font-size: 1em;
                margin-bottom: 0;
            }
            p { 
                font-size: 0.6em;
            }
        }
    }

    .Overview {
        display: flex !important;
        flex-direction: column !important;
        padding: 3% 10% !important;

        h2 {
            font-size: 1.2em;
        }
        p {
            font-size: 0.9em;
        }
        .Overview-item {
            img {
                padding-top: 15%;
                padding-bottom: 8% !important;
            }
        }
    }

    .Stay-productive {
        display: flex !important;
        flex-direction: column !important;
        padding: 0% 5%;
        .Productive-image {
            padding-top: 14% !important;
        }
        h1 {
            font-size: 1.2em;
        }
        p {
            font-size: 0.9em !important;
        }
    }

    .Statements {
        .Quotes {
            margin-top: 13%;
        }
        .Statement-container {
            display: flex !important;
            flex-direction: column !important;
            padding: 15% 10% !important;
            
            .Statement-item {
                margin-top: 8%;
            }
        }
    }

    .Get-access {
        padding: 5% 5% !important;

        .Access-container {
            display: flex !important;
            flex-direction: column !important;
            margin: 0% 3% 0% 0% !important;

            h1 {
                font-size: 1.2em;
            }
            p {
                font-size: 0.9em !important;
                line-height: 19px;
            }
        }
        .Mail-form {
            display: flex !important;
            flex-direction: column !important;
            padding-top: 5% !important;
        }
        #email-address {
            width: 75% !important;
            margin-left: 0 !important;
            padding: 6% 5% !important;
            border-radius: 25px !important;
        }
        button {
            width: 85% !important;
            font-size: 1em;
            padding: 5% 5%;
        }
        .Useless {
            padding-top: 100%;
        }
    }
}

// .Footer {
//     font-size: 0.7em ;

//     .Logo-footer {
//         padding-left: 2%;

//         img {
//             width: 50%;
//         }
//     }
//     .Footer-container {
//         display: flex;
//         flex-direction: column;
//         font-size: 1.5em !important;
//         padding-right: 5%;
//         .Footer-item {
//             margin-top: 10%;
//             .Contact {
//                 padding-left: 0% !important;
//                 padding-bottom: 10%;
//                 img {
//                     max-width: 80%;
//                 }
//             }
//             .About, .Contact-us {
//                 p{
//                 line-height: 30px !important;
//                 }
//             }
//             .Icons {
//                 justify-content: center;
//                 font-size: 150% !important;
//                 column-gap: 5%;
//             }
//         }
//     }
//     .Coded-by {
//         margin-left: -8% !important;
//         margin-top: 4%;
//         text-align: center !important;
//     }
// }