@media screen
and (min-width: 480px)
and (max-width: 799px) {
 
    .Intro {
        .Intro-end {
            h1 {
                font-size: 1.9em;
            }
            p { font-size: 1.0em;}
        }
    }

    .Stay-productive {
        .Productive-image {
            padding-top: 14%;
        }
        h1 {
            font-size: 1.9em;
        }
        p {
            font-size: 0.9em;
        }
    }

    .Get-access {
        p {
            line-height: 17px;
        }
        .Mail-form {
            grid-template-columns: 45% 35%;
        }
        button {
            font-size: 0.6em;
            padding: 6% 5%;
        }
    }
    
    .Useless {
        padding-top: 33%;
    }
}


.Footer {
    padding: 12% 0% 5% 8%;

    .Logo-footer {
        img {
            width: 10%;
        }
    }

    .Footer-container {
        display: grid;
        grid-template-columns: 25% 20% 10% 10% 15%;
        column-gap: 3%;
        font-size: 0.7em;
        .Contact {
            padding-left: 10%;
            img {
                max-width: 80%;
            }
        }
        .About, .Contact-us {
            p{
            line-height: 20px;
            }
        }
        .Icons {
            display: grid;
            grid-template-columns: 30px 30px 30px;
            font-size: 150%;
        }
    }
    .Coded-by {
        margin-left: 3%;
        margin-top: 2%;
    }
}