@media screen and (min-width: 320px) and (max-width: 654px) {
  .Navigation .Logo {
    max-width: 25%;
    padding-top: 1%;
  }

  .Intro .Illustration {
    max-width: 60%;
  }
  .Intro .Intro-end {
    max-width: 70% !important;
    right: 15% !important;
    left: 15% !important;
  }
  .Intro .Intro-end h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .Intro .Intro-end p {
    font-size: 0.8em;
  }
  .Intro .Intro-end .Get-started {
    padding: 1% 4% !important;
  }

  .Overview {
    display: flex !important;
    flex-direction: column !important;
    padding: 3% 10% !important;
  }
  .Overview h2 {
    font-size: 1.2em;
  }
  .Overview p {
    font-size: 0.9em;
  }
  .Overview .Overview-item img {
    padding-top: 15%;
    padding-bottom: 8% !important;
  }

  .Stay-productive {
    display: flex !important;
    flex-direction: column !important;
    padding: 0% 5%;
  }
  .Stay-productive .Productive-image {
    padding-top: 14% !important;
  }
  .Stay-productive h1 {
    font-size: 1.2em;
  }
  .Stay-productive p {
    font-size: 0.9em !important;
  }

  .Statements .Quotes {
    margin-top: 13%;
  }
  .Statements .Statement-container {
    display: flex !important;
    flex-direction: column !important;
    padding: 15% 10% !important;
  }
  .Statements .Statement-container .Statement-item {
    margin-top: 8%;
  }

  .Get-access {
    padding: 5% 5% !important;
  }
  .Get-access .Access-container {
    display: flex !important;
    flex-direction: column !important;
    margin: 0% 3% 0% 0% !important;
  }
  .Get-access .Access-container h1 {
    font-size: 1.2em;
  }
  .Get-access .Access-container p {
    font-size: 0.9em !important;
    line-height: 19px;
  }
  .Get-access .Mail-form {
    display: flex !important;
    flex-direction: column !important;
    padding-top: 5% !important;
  }
  .Get-access #email-address {
    width: 75% !important;
    margin-left: 0 !important;
    padding: 6% 5% !important;
    border-radius: 25px !important;
  }
  .Get-access button {
    width: 85% !important;
    font-size: 1em;
    padding: 5% 5%;
  }
  .Get-access .Useless {
    padding-top: 100%;
  }

  .Footer {
    display: none;
  }

  .Footer-mobile {
    background-color: #0b1523;
    padding: 12% 0% 5% 8%;
    font-size: 0.7em;
  }
  .Footer-mobile .Logo-mobile-footer {
    padding-bottom: 3%;
    padding-left: 2%;
  }
  .Footer-mobile .Logo-mobile-footer img {
    width: 50%;
  }
  .Footer-mobile .Footer-mobile-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    padding-right: 5%;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item {
    margin-top: 10%;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item .Contact-mobile {
    display: grid;
    grid-template-columns: 15% auto;
    row-gap: 30%;
    column-gap: 0%;
    padding-left: 0%;
    padding-bottom: 10%;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item .Contact-mobile p {
    margin: 0;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item .Contact-mobile img {
    max-width: 80%;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item .About-mobile p, .Footer-mobile .Footer-mobile-container .Footer-mobile-item .Contact-us-mobile p {
    margin: 0;
    line-height: 30px;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item .Icons-mobile {
    font-size: 150%;
    column-gap: 5%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    justify-content: center;
    padding: 0;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item .item-mobile:hover {
    font-weight: 700;
    cursor: pointer;
  }
  .Footer-mobile .Footer-mobile-container .Footer-mobile-item .icon-mobile:hover {
    color: #65e2d9;
    cursor: pointer;
  }
  .Footer-mobile .Coded-by {
    font-size: xx-small;
    color: #339ecc;
    margin-left: -6% !important;
    margin-top: 4%;
    text-align: center !important;
  }
}
@media screen and (min-width: 655px) and (max-width: 799px) {
  .Intro .Intro-end h1 {
    font-size: 1.9em;
  }
  .Intro .Intro-end p {
    font-size: 1em;
  }

  .Stay-productive .Productive-image {
    padding-top: 14%;
  }
  .Stay-productive h1 {
    font-size: 1.9em;
  }
  .Stay-productive p {
    font-size: 0.9em;
  }

  .Get-access p {
    line-height: 17px;
  }
  .Get-access .Mail-form {
    grid-template-columns: 50% 35%;
  }
  .Get-access button {
    font-size: 0.6em;
    padding: 5% 4%;
  }

  .Useless {
    padding-top: 33%;
  }

  .Footer {
    padding: 12% 0% 5% 8%;
  }
  .Footer .Logo-footer img {
    width: 10%;
  }
  .Footer .Footer-container {
    display: grid;
    grid-template-columns: 25% 20% 10% 10% 15%;
    column-gap: 3%;
    font-size: 0.7em;
  }
  .Footer .Footer-container .Contact {
    padding-left: 10%;
  }
  .Footer .Footer-container .Contact img {
    max-width: 80%;
  }
  .Footer .Footer-container .About p, .Footer .Footer-container .Contact-us p {
    line-height: 20px;
  }
  .Footer .Footer-container .Icons {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    font-size: 150%;
  }
  .Footer .Coded-by {
    margin-left: 3%;
    margin-top: 2%;
  }

  .Footer-mobile {
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 1065px) {
  .Intro .Intro-end .Container h1 {
    font-size: 2.2em;
  }
  .Intro .Intro-end .Container p {
    font-size: 1.2em;
  }

  .Stay-productive .Productive-image {
    padding-top: 10%;
  }
  .Stay-productive h1 {
    font-size: 2.2em;
  }

  .Get-access .Access-container p {
    line-height: 20px;
  }
  .Get-access .Access-container .Mail-form {
    grid-template-columns: 55% 25%;
  }
  .Get-access .Access-container button {
    font-size: 0.7em;
    padding: 7% 5%;
  }
  .Get-access .Useless {
    padding-top: 26%;
  }

  .Footer {
    padding: 12% 0% 5% 8%;
  }
  .Footer .Logo-footer img {
    width: 10%;
  }
  .Footer .Footer-container {
    display: grid;
    grid-template-columns: 25% 20% 10% 10% 15%;
    column-gap: 3%;
    font-size: 0.8em;
  }
  .Footer .Footer-container .Contact {
    padding-left: 15%;
  }
  .Footer .Footer-container .About p, .Footer .Footer-container .Contact-us p {
    line-height: 30px;
  }
  .Footer .Footer-container .Icons {
    display: grid;
    grid-template-columns: 35px 35px 35px;
    font-size: 170%;
  }
  .Footer .Coded-by {
    margin-left: 2%;
  }

  .Footer-mobile {
    display: none;
  }
}
@media screen and (min-width: 1066px) {
  .Intro .Intro-end .Container h1 {
    font-size: 2.8em;
  }
  .Intro .Intro-end .Container p {
    font-size: 1.5em;
  }

  .Stay-productive .Stay-productive-container h1 {
    font-size: 3em;
  }

  .Get-access .Access-container p {
    line-height: 20px;
  }
  .Get-access .Access-container .Mail-form {
    grid-template-columns: 55% 25%;
  }
  .Get-access .Access-container button {
    font-size: 0.8em;
    padding: 7% 5%;
  }
  .Get-access .Useless {
    padding-top: 16%;
  }

  .Footer {
    padding: 12% 0% 5% 8%;
  }
  .Footer .Logo-footer img {
    width: 10%;
  }
  .Footer .Footer-container {
    display: grid;
    grid-template-columns: 25% 20% 10% 10% 15%;
    column-gap: 3%;
    font-size: 0.8em;
  }
  .Footer .Footer-container .Contact {
    padding-left: 15%;
  }
  .Footer .Footer-container .About p, .Footer .Footer-container .Contact-us p {
    line-height: 30px;
  }
  .Footer .Footer-container .Icons {
    display: grid;
    grid-template-columns: 35px 35px 35px;
    font-size: 170%;
  }
  .Footer .Coded-by {
    margin-left: 2%;
  }

  .Footer-mobile {
    display: none;
  }
}
* {
  font-family: "Raleway", sans-serif;
  color: white;
}

body {
  background-color: #181f2a;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.Navigation {
  background-color: #1c2431;
  padding: 2%;
}
.Navigation .Links .Nav-item {
  text-decoration: none;
  float: right;
  padding: 0% 3%;
}
.Navigation .Links .Nav-item:hover {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.Intro {
  background-color: #1c2431;
  text-align: center;
  position: relative;
}
.Intro .Intro-logo {
  padding-top: 5%;
}
.Intro .Intro-logo .Curvy-background {
  width: 100%;
}
.Intro .Intro-end {
  bottom: 5%;
  position: absolute;
  right: 20%;
  left: 20%;
  max-width: 60%;
}
.Intro .Intro-end .Container {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  padding-bottom: 0%;
}
.Intro .Intro-end .Container .Get-started {
  text-decoration: none;
  padding: 0.5% 6%;
  font-size: 1em;
  border-radius: 25px;
  border: none;
  background-color: #339ecc;
}
.Intro .Intro-end .Container .Get-started:hover {
  background-color: #65e2d9;
  cursor: pointer;
}

.Overview {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  text-align: center;
  gap: 10%;
  padding-top: 3%;
}
.Overview .Overview-item img {
  padding-bottom: 2%;
}

.Stay-productive {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  column-gap: 4%;
  padding-top: 10%;
}
.Stay-productive .productivity {
  width: 100%;
}
.Stay-productive .Stay-productive-container {
  padding-top: 10%;
  padding-left: 3%;
}
.Stay-productive .Stay-productive-container .fylo {
  color: #65e2d9;
  border-bottom: 0.5px solid #65e2d9;
  width: 170px;
}
.Stay-productive .Stay-productive-container .arrow {
  margin-left: 1%;
}
.Stay-productive .Stay-productive-container .fylo:hover {
  color: white;
  border-bottom: 0.5px solid white;
  cursor: pointer;
}

.Statements {
  padding-top: 10%;
}
.Statements .Quotes {
  position: absolute;
  padding-left: 7%;
}
.Statements .Statement-container {
  padding-top: 3%;
  padding-bottom: 10%;
  display: grid;
  grid-template-columns: 27% 27% 27%;
  justify-content: center;
  column-gap: 2%;
}
.Statements .Statement-container .Statement-item {
  background-color: #202a3c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 8% 8% 3% 8%;
  font-size: 0.9em;
  line-height: 20px;
  border-radius: 5px;
}
.Statements .Statement-container .Statement-item .Names {
  display: grid;
  grid-template-columns: 35px 100px;
  font-size: 0.6em;
}
.Statements .Statement-container .Statement-item .Names img {
  max-width: 65%;
  border-radius: 20px;
}
.Statements .Statement-container .Statement-item .Names h3, .Statements .Statement-container .Statement-item .Names p {
  margin: 0;
  line-height: 8px;
}

.Get-access .Access-container {
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  background-color: #1c2431;
  margin: 5% 20%;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.Get-access .Access-container p {
  font-size: 0.8em;
  margin: 3% 10% 5%;
}
.Get-access .Access-container .Mail-form {
  display: grid;
  column-gap: 13%;
  padding: 0;
  margin: 0;
}
.Get-access .Access-container .Mail-form #email-address {
  border-radius: 20px;
  width: 100%;
  border: none;
  font-size: 0.7em;
  padding: 3% 0% 3% 7%;
  margin-left: 12%;
  color: #1c2431;
}
.Get-access .Access-container .Mail-form #email-address::placeholder {
  opacity: 0.7;
}
.Get-access .Access-container .Mail-form #thanks {
  visibility: hidden;
  margin: 1% 0% 0%;
}
.Get-access .Access-container .Mail-form #emailMessage {
  visibility: hidden;
  margin: 0% 0% 2%;
  color: #ff4242;
}
.Get-access .Access-container .Mail-form button {
  background-color: #339ecc;
  border-radius: 25px;
  border: none;
}
.Get-access .Access-container .Mail-form button:hover {
  background-color: #65e2d9;
  cursor: pointer;
}

.Footer {
  background-color: #0b1523;
  padding: 12% 0% 5% 8%;
}
.Footer .Logo-footer {
  padding-bottom: 3%;
}
.Footer .Footer-container .Location {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5%;
}
.Footer .Footer-container .Location p {
  margin: 0;
  line-height: 18px;
}
.Footer .Footer-container .Contact {
  display: grid;
  grid-template-columns: 15% auto;
  row-gap: 30%;
  column-gap: 0%;
}
.Footer .Footer-container .Contact p {
  margin: 0;
}
.Footer .Footer-container .About p, .Footer .Footer-container .Contact-us p {
  margin: 0;
}
.Footer .Footer-container .Icons {
  list-style-type: none;
  margin-top: 0;
}
.Footer .Footer-container .item:hover {
  font-weight: 700;
  cursor: pointer;
}
.Footer .Footer-container .icon:hover {
  color: #65e2d9;
  cursor: pointer;
}
.Footer .Footer-mobile {
  display: none;
}
.Footer .Coded-by {
  font-size: xx-small;
  text-align: left;
  color: #339ecc;
}

/*# sourceMappingURL=style.css.map */
