@use 'media-querie-320';
@use 'media-querie-480';
@use 'media-querie-800';
@use 'media-querie-1066';

// Colors
$primary-dark-blue-intro-and-email: hsl(217, 28%, 15%); 
$primary-dark-blue-main-background: hsl(218, 28%, 13%);
$primary-dark-blue-testimonials: hsl(219, 30%, 18%);
$primary-dark-blue-footer-background: hsl(216, 53%, 9%);
$accent-cyan: hsl(176, 68%, 64%);
$accent-blue: hsl(198, 60%, 50%);
$accent-light-red: hsl(0, 100%, 63%);
$neutral-white: hsl(0, 0%, 100%);

// Font
$font-size: 14px;

* {
    font-family: 'Raleway', sans-serif;
    // Headings, Call-to-actions, Header Navigation
    // Weights: 400, 700
    color: $neutral-white;
}

body {
    background-color: $primary-dark-blue-main-background;
    font-family: 'Open Sans', sans-serif;
    // Weights: 400, 700
    margin: 0;
}

.Navigation {
    background-color: $primary-dark-blue-intro-and-email;
    padding: 2%;

    .Links {
        
        .Nav-item {
            text-decoration: none;
            float: right;
            padding: 0% 3%;
        }

        .Nav-item:hover {
            font-weight: 700;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.Intro {
    background-color: $primary-dark-blue-intro-and-email;
    text-align: center;
    position: relative;
    
    .Intro-logo {
        padding-top: 5%;
        
        .Curvy-background {
            width:100%;
        }
    }
    
    .Intro-end {
        bottom: 5%;
        position: absolute;
        right: 20%;
        left: 20%;
        max-width: 60%;
        
        .Container {
            display: grid;
            grid-template-rows: auto auto;
            justify-content: center;
            padding-bottom: 0%;
  
            .Get-started {
                text-decoration: none;
                padding: 0.5% 6%;
                font-size: 1em;
                border-radius: 25px;
                border: none;
                background-color: $accent-blue;
            }
            
            .Get-started:hover {
                background-color: $accent-cyan;
                cursor: pointer
            }
        }    
    }
}

.Overview {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    text-align: center;
    gap: 10%;
    padding-top: 3%;

    .Overview-item {

        img{
            padding-bottom: 2%;
        }
    }
}

.Stay-productive {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    column-gap: 4%;
    padding-top: 10%;

    .productivity {
        width: 100%;
    }

    .Stay-productive-container {
        padding-top: 10%;
        padding-left: 3%;

        .fylo {
            color: $accent-cyan;
            border-bottom: 0.5px solid $accent-cyan;
            width: 170px;
        }
        
        .arrow {
            margin-left: 1%;
        }

        .fylo:hover {
            color: $neutral-white;
            border-bottom: 0.5px solid $neutral-white;
            cursor: pointer
        }
    }
}

.Statements {
    padding-top: 10%;
    
    .Quotes {
        position: absolute;
        padding-left: 7%;
    }
    
    .Statement-container {
        padding-top: 3%;
        padding-bottom: 10%;
        display: grid;
        grid-template-columns: 27% 27% 27%;
        justify-content: center;
        column-gap: 2%;
        
        .Statement-item {
            background-color: $primary-dark-blue-testimonials;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            padding: 8% 8% 3% 8%;
            font-size: 0.9em;
            line-height: 20px;
            border-radius: 5px;

            .Names {
                display: grid;
                grid-template-columns: 35px 100px;
                font-size: 0.6em;

                img {
                    max-width: 65%;
                    border-radius: 20px;
                }

                h3, p {
                    margin: 0;
                    line-height: 8px;
                }
            }
        }
    }
}

.Get-access {

    .Access-container {
        position: absolute;
        display: grid;
        grid-template-columns: auto;
        background-color: $primary-dark-blue-intro-and-email;
        margin: 5% 20%;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        
        p {
            font-size: 0.8em;
            margin: 3% 10% 5%;
        }
        
        .Mail-form {
            display: grid;
            column-gap: 13%;
            padding: 0;
            margin: 0;
            
            #email-address {
                border-radius: 20px;
                width: 100%;
                border: none;
                font-size: 0.7em;
                padding: 3% 0% 3% 7%;
                margin-left: 12%;
                color: $primary-dark-blue-intro-and-email;
            }
            
            #email-address::placeholder {
                opacity: 0.7;
            }

            #emailMessage {
                visibility: hidden;
                margin-left: 0;
                color: $accent-light-red;
            }
            
            
            button {
                background-color: $accent-blue;
                border-radius: 25px;
                border: none;
            }
            
            button:hover {
                background-color: $accent-cyan;
                cursor: pointer
            }
        }
    }
}
    
.Footer {
    background-color: $primary-dark-blue-footer-background;
    padding: 12% 0% 5% 8%;

    .Logo-footer {
        padding-bottom: 3%;
    }

    .Footer-container {

        .Location {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 5%;

            p {
                margin: 0;
                line-height: 18px;
            }
        }

        .Contact {
            display: grid;
            grid-template-columns: 15% auto;
            row-gap: 30%;
            column-gap: 0%;

            p {
                margin: 0;
            }
        }

        .About, .Contact-us {

            p {
                margin: 0;
            }
        }

        .Icons {
            list-style-type: none;
            margin-top: 0;
        }

        .item:hover {
            font-weight: 700;
            cursor: pointer;
        }

        .icon:hover {
            color: $accent-cyan;
            cursor: pointer;
        }
    }

    .Footer-mobile {
        display: none;
    }

    .Coded-by {
        font-size: xx-small;
        text-align: left;
        color: $accent-blue;
    }
}