* {
  font-family: "Raleway", sans-serif;
  color: white;
}

body {
  background-color: #181f2a;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.Navigation {
  background-color: #1c2431;
  padding: 2%;
}
.Navigation .Links {
  list-style-type: none;
}
.Navigation .Links .Nav-item {
  text-decoration: none;
  float: right;
  padding: 2% 3%;
}
.Navigation .Links .Nav-item:hover {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.Intro {
  background-color: #1c2431;
  text-align: center;
  position: relative;
}
.Intro .Intro-logo {
  padding-top: 5%;
}
.Intro .Intro-logo .Curvy-background {
  width: 100%;
}
.Intro .Intro-end {
  bottom: 5%;
  position: absolute;
  right: 10%;
  left: 10%;
}
.Intro .Intro-end .Container {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  padding-bottom: 0%;
}
.Intro .Intro-end .Container h1 {
  font-size: 2.8em;
}
.Intro .Intro-end .Container p {
  font-size: 1.5em;
}
.Intro .Intro-end .Container .Get-started {
  padding: 0.5% 6%;
  font-size: 1em;
  border-radius: 25px;
  border: none;
  background-color: #339ecc;
}
.Intro .Intro-end .Container .Get-started:hover {
  background-color: #65e2d9;
  cursor: pointer;
}

.Overview {
  display: grid;
  grid-template-columns: 30% 30%;
  justify-content: center;
  text-align: center;
  gap: 10%;
  padding-top: 3%;
}
.Overview .Overview-item img {
  padding-bottom: 2%;
}

.Stay-productive {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  column-gap: 4%;
  padding-top: 10%;
}
.Stay-productive #productivity {
  width: 100%;
}
.Stay-productive .Stay-productive-container {
  padding-top: 10%;
  padding-left: 3%;
}
.Stay-productive .Stay-productive-container h1 {
  font-size: 3em;
}
.Stay-productive .Stay-productive-container #fylo {
  color: #65e2d9;
  border-bottom: 0.5px solid #65e2d9;
  width: 170px;
}
.Stay-productive .Stay-productive-container #arrow {
  margin-left: 1%;
}
.Stay-productive .Stay-productive-container #fylo:hover {
  color: white;
  border-bottom: 0.5px solid white;
  cursor: pointer;
}

.Statements {
  padding-top: 10%;
}
.Statements .Quotes {
  padding-left: 8%;
  position: absolute;
}
.Statements .Statement-container {
  padding-top: 3%;
  padding-bottom: 10%;
  display: grid;
  grid-template-columns: 27% 27% 27%;
  justify-content: center;
  column-gap: 2%;
}
.Statements .Statement-container .Statement-item {
  background-color: #202a3c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 8% 8% 3% 8%;
  font-size: 0.9em;
  line-height: 20px;
  border-radius: 5px;
}
.Statements .Statement-container .Statement-item .Names {
  display: grid;
  grid-template-columns: 35px 100px;
  font-size: 0.6em;
}
.Statements .Statement-container .Statement-item .Names img {
  max-width: 65%;
  border-radius: 20px;
}
.Statements .Statement-container .Statement-item .Names h3, .Statements .Statement-container .Statement-item .Names p {
  margin: 0;
  line-height: 8px;
}

.Get-access .Access-container {
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  background-color: #1c2431;
  margin: 5% 20%;
  padding: 0% 5% 3%;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.Get-access .Access-container p {
  font-size: 0.8em;
  margin: 3% 10% 5%;
  line-height: 20px;
}
.Get-access .Access-container .Email-form {
  display: grid;
  grid-template-columns: 55% 25%;
  column-gap: 13%;
  padding: 0;
  margin: 0;
}
.Get-access .Access-container .Email-form #email {
  border-radius: 20px;
  width: 100%;
  border: none;
  font-size: 0.7em;
  padding: 3%;
  margin-left: 12%;
  color: #1c2431;
}
.Get-access .Access-container .Email-form #email::placeholder {
  padding-left: 3%;
  opacity: 0.7;
}
.Get-access .Access-container .Email-form button {
  background-color: #339ecc;
  border-radius: 25px;
  border: none;
  font-size: 0.8em;
  padding: 6% 4%;
}
.Get-access .Access-container .Email-form button:hover {
  background-color: #65e2d9;
  cursor: pointer;
}
.Get-access .Useless {
  padding-top: 16%;
}

.Footer {
  background-color: #0b1523;
  padding: 12% 0% 5% 8%;
}
.Footer .Logo {
  padding-bottom: 3%;
}
.Footer .Logo img {
  width: 10%;
}
.Footer .Footer-container {
  display: grid;
  grid-template-columns: 25% 20% 10% 10% 15%;
  column-gap: 3%;
  font-size: 0.8em;
}
.Footer .Footer-container .Location {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5%;
}
.Footer .Footer-container .Location p {
  margin: 0;
  line-height: 18px;
}
.Footer .Footer-container .Contact {
  display: grid;
  grid-template-columns: 15% auto;
  row-gap: 30%;
  column-gap: 0%;
  padding-left: 15%;
}
.Footer .Footer-container .Contact p {
  margin: 0;
}
.Footer .Footer-container .About p, .Footer .Footer-container .Contact-us p {
  margin: 0;
  line-height: 30px;
}
.Footer .Footer-container #item:hover {
  font-weight: 700;
  cursor: pointer;
}
.Footer .Footer-container .Icons {
  display: grid;
  grid-template-columns: 35px 35px 35px;
  font-size: 170%;
}
.Footer .Footer-container #icon:hover {
  color: #65e2d9;
  cursor: pointer;
}
.Footer .Coded-by {
  font-size: xx-small;
  text-align: left;
  margin-left: 2%;
  color: #339ecc;
}

/*# sourceMappingURL=style.css.map */
